<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Document</title>
</head>
<body>
        <script>
        function sendGet(){
            var form = document.getElementById("form_info");
            //form.name.value를 가져올수있음.
            //form.age.value를 가져올수있음.
            
            axios({
                method: "get",
                url: "/form",
                params: {name: form.id.value},
            }).then(function(res){
                // console.log(res);
                alert("가입완료");
            })
        }
    </script>
    <form action="/getForm" method="get"  id="form_info" > 
        이름<input type="text" name="id" required>
        <fieldset>
            <legend>성별</legend>
            <input type="radio" name="gender" value="남자" id="men" required> <label for="men">남자</label>
            <input type="radio" name="gender" value="여자" required> 여자
        </fieldset>
    
        <fieldset>
            <legend>생년월일</legend>
            <select name="birthYear">
                <% for(var i = 1920 ; i <= 2012 ; i++) {%>
                    <option value="<%=i%>"><%=i%></option>
                <% } %>    
            </select>년

            <select name="birthMonth">
                <% for(var i=1; i<=12; i++) {%>
                    <option value="<%=i%>"><%=i%></option>
                <% } %>
            </select> 월

            <select name="birthDay">
                <% for(var i=1; i<=32; i++) {%>
                    <option value="<%=i%>"><%=i%></option>
                <% } %>
                 
            </select>일
        </fieldset>

        <!--

            <fieldset>
            <legend>관심사</legend>
            <input type="checkbox" name="interest"  value="여행"/>여행
            <input type="checkbox" name="interest" value="패션"/>패션
            <input type="checkbox" name="interest" value="음식"/>음식
        </fieldset>

        <fieldset>
            <legend>선택</legend>
            좋아하는 색상<input type="color" name="color" /><br>
            좋아하는 숫자<input type="number" name="number"/>
          
        </fieldset>

        -->
        

        <button  type="button", onclick="sendGet()">회원가입</button>
    </form>
    

</body>
</html>