<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    ejs 파일로 만든 html
    <!-- <img src="/static/img/cat.jpg" > -->

    <% for(var i =0; i< data.length; i++) { %>
        <div>안녕<%=data[i]%></div>
    <% } %>

    <div style="color: red;"><%="<span style='color:blue'>안녕</span>"%> 하세요</div>
    <div style="color: red;"><%-"<span style='color:blue'>안녕</span>"%> 하세요</div>

    <%=include("test.ejs")%>

</body>
</html>